# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключ с ресурса https://marketplace.apilayer.com/
API_KEY='your_api_key_here'

# Путь к конфиг-файлу с трасакциями (operations.json).
# По примеру: FILE_PATH='C:/Python/Projects/homework_10_1/data/operations.json
FILE_PATH='specify your path to the file'
